@import url("https://use.typekit.net/atu3jmx.css");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
/*General stylings*/

html {
  background: #eeeeee;
  -webkit-font-smoothing: antialiased;
  background-image: url('https://stephenandcaroline.fun/img/paper.png');
  text-align: center;
}

body {
  margin: 0;
  color: #252525;
  text-transform: uppercase;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Special Elite";
  font-size: 45px;
}

h2 {
  font-family: "industry", sans-serif;
  font-weight: 900;
  font-size: 28px;
}

p {
  font-family: "industry", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

a {
  font-family: 'industry';
  font-weight: normal;
  text-decoration: none;
  transition: all .1s ease-in;
  color: #177bbd;
}

a:visited {
  transition: all .1s ease-in;
  color: #177bbd;
}

a:hover {
  color: #FF9966;
  transition: .1s ease-in;
}

footer {
  height: 100px;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000000b3;
  width: 100px;
  height: 65px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 0px;
  top: 15px;
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: #000000e6;
}

#return-to-top:hover i {
  color: #fff;
  top: 2px;
  font-size: 26px;
}

/*Home Page styling*/

.full-width {
  width: 100%;
}

.banner {
  background-color: #8fcff9;
  background-image: url('https://stephenandcaroline.fun/img/bannertop.jpg');
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-size: auto 50%;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center top;
}

.yahoo {
  display: block;
  font-family: "Special Elite";
  padding: 20px 10px 0px 10px;
  font-size: 75px;
  }

.splashbutton {
  display: inline-block;
  color: #353535 !important;
  font-family: "industry";
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 0 1% 0 1%;
  width: 25%;
  max-width: 300px;
  border-radius: 50px;
  padding: 20px 0px 20px 0px;
  background: #eeeeeedd;
}


.splashbutton:hover {
  color: #777 !important;
  background: #eeeb;
}

.stuff {
  width: 90%;
  margin: auto;
  padding: 45px 0px 45px 0px;
  max-width: 1750px;
  font-family: "industry";
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
  line-height: 4vh;
  display: inline-flex;
  height: 50vh;
  align-items: center;
}

.stuff img {
  transition: all 0.2s ease-in-out;
  height: 10vh;
  padding: 15px;
}

.stuff img:hover {
  transition: all 0.2s ease-in-out;
  height: 12vh;
}

.stuff>div {
  box-shadow: 3px 3px 9px #0000004d;
  border-radius: 5px;
  padding-top: 20px;
  background-color: #eeeeee;
  margin: 15px;
  width: 25%;
  height: 80%;
}

.text {
  font-weight: normal;
  font-size: 2.5vh;
  line-height: 3vh;
  width: 90%;
  margin: auto;
}

.section-icon {
  width: 50%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #8fcff9;
}

.section-icon>img {
  width: 300px;
}

.section-orange {
  background: #ffa77b;
}

.section-text {
  width: 50%;
  height: 100vh;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.section-text-wrapper {
  max-width: 85%;
  padding: 75px 50px;
}

.section-text-wrapper h1 {
  font-size: 35px;
  line-height: 2.75rem;
  margin: 0;
  padding-bottom: 25px;
}

.section-text-wrapper p {
  font-size: 25px;
  line-height: 1.5em;
  margin: 0;
}

/*Info Pages styling*/

.icon {
  width: 100%;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

header {
  font-family: "industry";
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: #4493dd33 3px solid;
  padding-top: 30px;
  min-height: 70px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

.title {
  font-family: "industry", sans-serif;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

header nav {
  float: right;
  margin-top: 10px;
}

nav a {
  font-size: 16px;
  font-weight: bold;
  color: #353535;
}

nav a:visited {
  color: #353535;
}

nav a:hover {
  color: #FF9966;
}

nav .current a{
  color: #177bbd;
  cursor: default;
}

/*RSVP Page Styling*/

.menu {
  display: none;
}

.question-box {
  display: block;
  box-shadow: 3px 3px 9px #0000004d;
  background: #fff;
  padding: 40px;
  margin-bottom: 50px;
  border-radius: 15px 15px 0 0;
}

.question-bar {
  display: flex;
  font-family: "Special Elite";
  color: #fff;
  align-items: flex-end;
  font-size: 28px;
  background: #ff9966;
  height: 50px;
  text-align: left;
  padding: 15px 15px 0 15px;
  margin: -40px -40px 20px -40px;
  border-radius: 15px 15px 0 0;
}

.rsvp-label {
  font-family: "industry", sans-serif;
  font-weight: normal;
  font-size: 23px;
  line-height: 1.5em;
  cursor: text;
}

.rsvp-input {
  -webkit-appearance: none;
  width: 40%;
  height: 50px;
  border-radius: .25em .25em 0 0;
  font-family: "Special Elite";
  text-align: left;
  font-size: 20px;
  background-color: #eee;
  margin-bottom: 30px;
  padding-left: 13px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 4px solid;
  transition: all .25s ease-in-out;
}

.rsvp-input:focus {
  background-color: #e4e4e4;
  outline-style: none;
  border-bottom: #177bbd 4px solid;
  transition: all .25s ease-in-out;
}

#submit {
  -webkit-appearance: none;
  font-family: "industry", sans-serif;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  background-color: #FF9966;
  border: none;
  border-radius: 5em;
  transition: all .20s ease-in-out;
  cursor: pointer;
}

#submit:focus {
  background-color: #8fcff9;
  border: #8fcff955 8px solid;
}

#submit:hover {
  background-color: #8fcff9;
  border: #8fcff955 8px solid;
}

@media screen and (max-width: 992px) {
  /* General Styling*/
  h1 {
    font-size: 1.65rem;
  }
  p {
    font-size: 20px;
    width: 80%;
    margin: auto;
  }
  #return-to-top {
    bottom: 35px;
    right: 10px;
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  #return-to-top i {
    font-size: 32px;
  }

  /* Home Page Styling*/
  .banner {
    background-image: linear-gradient(-37deg, #ffad84, #e0e0e0, #8fcff9);
    min-height: 100vh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: auto;
    background-size: auto auto;
  }
  .yahoo {
    font-size: 16vw;
    padding-bottom: 75px;
    padding-top: 10vw;
  }
  .splashbutton {
    width: 90%;
    display: block;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
    background: #fff;
   max-width: 280px;
  }

  .stuff {
    flex-direction: column;
    width: 80%;
    padding-top: 0px;
    font-size: 25px;
    line-height: 1em;
    height: auto;
  }
 
  .stuff img {
    height: 80px;
  }
  .stuff img:hover {
    height: 80px;
  }

  .stuff > div {
    width: 90%;
    padding: 20px;
  }
  .text {
    font-size: 20px;
    line-height: 1.25em;
  }

  .section-icon {
    width: 100%;
    height: 400px;
  }
  .section-icon>img {
    max-width: 75%;
    max-height: 250px;
    width: auto;
    height: auto;
  }
  .section-text {
    width: 100%;
    height: auto;
    text-align: center;
    min-height: calc(100vh - 400px);
  }
  .section-text-wrapper h1 {
    font-size: 1.75em;
    line-height: 1.75rem;
    padding-bottom: 15px;
  }
  .section-text-wrapper p {
    font-size: 25px;
    line-height: 1.5em;
    margin: auto;
  }
  .question-box {
    padding: 10px 10px 30px 10px;
  }
  .question-bar {
    height: auto;
    padding: 35px 15px 0 15px;
    margin: -10px -10px 30px -10px;
  }
  /*Info Pages Styling*/
  .container {
    width: 100%;
    display: none;
  }
  .menu {
    height: auto;
    display: block;
    background: #8fcff9;
    color: #353535;
    text-align: center;
    width: 180px;
    margin-left: -90px;
    border-radius: 0px 0px 6px 6px;
    font-family: "industry";
    font-weight: bold;
    position: fixed;
    left: 50%;
  }
  #mobile-menu {
    display: none;
    padding-bottom: 20px;
    border-top: #177bd84d 3px solid;
    width: 80%;
    margin: auto;
    padding-top: 10px;
  }
  #mobile-menu a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    color: #353535;
  }
  .show {
    display: block !important;
  }
  .dropdown-button {
    -webkit-appearance: none;
    width: 100%;
    background: none;
    cursor: pointer;
    font-family: "industry";
    font-weight: bold;
    font-size: 25px;
    border: none;
    padding: 15px 0px 18px 0px;
    line-height: .75em;
  }
  .fa-caret-down {
    transition: all .25s ease-in-out;
  }
  .fa-caret-down.up {
    transform: rotate(180deg);
    transition: all .25s ease-in-out;
  }
  header {
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-top: 90px;
  }
  .title {
    font-size: 40px;
  }

/*RSVP Page Stylings*/
  .rsvp-input {
    width: 80%;
    height: 45px;
  }
  #submit {
    width: 275px;
    height: 80px;
  }
  .rsvp-label {
    font-size: 18px;
  }
}