@font-face {
  font-family: 'Avenir';
  src: url('https://stephenkender.com/fonts/AvenirNextLTPro-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('https://stephenkender.com/fonts/AvenirNextLTPro-Bold.otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://stephenkender.com/fonts/Poppins-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://stephenkender.com/fonts/Poppins-ExtraBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
font-family: dejanire-headline, serif;
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: pedestria-mvb, sans-serif;
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: freight-big-pro, serif;
font-weight: 900;
font-style: normal;
}
@font-face {
font-family: freight-display-pro, serif;
font-weight: 900;
font-style: normal;
}

/*GENERAL STUFF*/

html {
  background: #393F4D;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

body {
    margin: 0px;
    font-weight: 400;
}

a {
  text-decoration: none;
  font-family: 'Avenir';
  color: #111;
}

a:link:visited {
  color: #111;
}

a:link:hover {
  color: #111;
}

a:hover {
  color: #111;
}

.stronglink {
  font-weight: 600;
}

h1 {
  font-size: 60px;
font-family: freight-display-pro, serif;
	letter-spacing: 1%;
  font-weight: 600;
  line-height: 1.15em;
  padding: 0px 10px 0px 10px;
}

h2 {
  font-size: 3em;
  padding: 0px 10px 0px 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
	line-height: 120%;
}

p {
  padding: 0px 10px 0px 10px;
  font-family: pedestria-mvb, sans-serif;
  font-size: 25px;
  max-width: 800px;
  margin: auto;
}

/*FRONT PAGE BOXES*/

.boxes {
  width: 100%;
  max-width: 885px;
  height: 400px;
  display: flex;
  margin: 40px auto 40px auto;
	text-align: left;
	box-shadow: 3px 3px 10px 2px #1117;
	border-radius: 35px;
}

.box-text {
	width: 50%;
	display: block;
	text-align: left;
	margin-left: 5%;
  margin-right: 3%;
}

.box-img {
	width: 50%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	object-fit: contain;
	overflow: hidden;
	transition: all 0.3s ease;
	border-radius: 35px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  cursor: pointer;
	  }

.box-img:hover {
	width: 60%;
	transition: all 0.3s ease;
}

.box-img img{
	height: 150%;
	object-fit: cover;
	overflow: hidden;
}
	  
#box-img-1 {
  background-image: url('https://stephenkender.com/img/box-1.png');
  box-shadow: -10px 0px 10px -6px #1117;
}  
#box-img-2 {
  background-image: url('https://stephenkender.com/img/box-2.png');
  box-shadow: 10px 0px 10px -6px #1117;
} 
#box-img-3 {
  background-image: url('https://stephenkender.com/img/box-3.png');
        box-shadow: -10px 0px 10px -6px #1117;
}  
#box-img-4 {
  background-image: url('https://stephenkender.com/img/box-4.png');
        box-shadow: 10px 0px 10px -6px #1117;
}  

#box-1 {
    background-color: #4A5B3B;
    color: #F9B53C;
    font-size: 36px;
}

#box-2 {
	background-color: #DF9292;
	color: #1E2B48;	
}

#box-3 {
	background-color: #352c29;
	color: #FFE0B3;
}

#box-4 {
	background-color: #CE8840;
	color: #313131;
} 

/*OTHER ENTITIES*/


#logo-img {
  width: 40%;
  margin: auto;
  max-width: 600px;
  display: flex;
  padding: 40px 0px 5px 0px;
}

.footer {
	width: 70%;
  margin: 0 15% 0 15%;
  text-align: center;
  color: #ddd;
  padding-bottom: 30px;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
}


#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000000b3;
  width: 100px;
  height: 65px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  z-index: 999;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 0px;
  top: 15px;
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: #000000e6;
}

#return-to-top:hover i {
  color: #fff;
  top: 2px;
  font-size: 26px;
}

/*OTHER PAGE STYLING*/

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

header {
  text-transform: uppercase;
  border-bottom: #0003 3px solid;
  padding-top: 10px;
  min-height: 70px;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

header nav {
  float: center;
  margin-top: 10px;
}

nav a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

nav a:visited {
  color: #fff;
}

nav a:hover {
  color: rgba(229, 87, 44, 0.9);
}

nav .current a{
  color: #DC9E2F;
  cursor: default;
}

.menu {
  display: none;
  z-index: 99999999;
}

/* CONTACT FORMSSSSSS */

.contact-section {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;

}

.contact-intro > * + * {
  margin-top: 1rem;
}

.contact-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.contact-description {
  color: rgb(107 114 128);
}

.form-group-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
  color: white;
  font-family: pedestria-mvb, sans-serif;
}

.form-input,
.form-textarea {
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: pedestria-mvb, sans-serif;
}

.form-input::placeholder,
.form-textarea:focus-visible {
  color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: 2px solid #DC9E2F;
  outline-offset: 2px;
}

.form-textarea {
  min-height: 120px;
}

.form-submit {
  width: 100%;
  margin-top: 1.2rem;
  background-color: #DC9E2F;
  color: #222;
  padding: 13px 5px;
  border-radius: 0.375rem;
  font-family: pedestria-mvb, sans-serif;
  border: none;
}

.h-captcha{
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 30px;
}


@media screen and (max-width: 920px) {

	h1 {
		font-size: 44px;
		text-align: center;
	}

  h2 {
    font-size: 36px;
  }

  p {
    width: 85%;
  }

  .boxes {
    height: 500px;
    flex-direction: column;
    margin-bottom: 50px;
    width: 90%;
  }

  .box-text {
    width: 85%;
    height: 35%;
    display: flex;
    text-align: center;
    /*! padding: 0px 0 5px 0; */
    margin: auto;
    /*! align-content: center; */
    align-items: center;
    justify-content: center;
  }

  .box-img {
    width: 100%;
    /*! height: 250px; */
    /*! max-height: 40%; */
    /*! display:flex; */ 
    /*! align-content: center; */
    /*! align-items: center; */
    /*! justify-content: center; */
    /*! margin-bottom: ; */
    height: 65%;
  }

  .box-img:hover {
    height: 65%;
    width: 100%;
  }
    
  #logo-img {
    width: 60%;
  }


  .footer {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 50px;
  }

  /*OTHER PAGE STYLING*/

  .container {
    width: 100%;
    display: none;
  }

  .menu {
    height: auto;
    display: block;
    background: #DC9E2F;
    color: #222;
    text-align: center;
    width: 44%;
    margin-left: 28%;
    border-radius: 0px 0px 15px 15px;
    font-family: 'Avenir';
    font-weight: bold;
    position: fixed;
	  box-shadow: 3px 3px 9px #0007;
  }

  #mobile-menu {
    display: none;
    padding-bottom: 20px;
    border-top: #222 3px solid;
    width: 80%;
    margin: auto;
    padding-top: 10px;
  }

  #mobile-menu a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    color: #222;
  }

 .dropdown-button {
    width: 100%;
    background: none;
    cursor: pointer;
    font-size: 45px;
    border: none;
    color: #222 !important;
  }

  .fa-caret-down {
    transition: all .25s ease-in-out;
    line-height: .4em !important;

  }

  .fa-caret-down.up {
    transform: rotate(180deg);
    transition: all .25s ease-in-out;
  }

  header {
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 40px;
	  border-bottom: none;
  }
}



/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-43 {
        padding: var(--sectionPadding);
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
    }
    #gallery-43 .cs-container {
        width: 100%;
        max-width: 69rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-43 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #gallery-43 .cs-image-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
    }
    #gallery-43 .cs-item {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        margin: 0;
        position: relative;
        display: block;
		box-shadow: 3px 3px 9px #0004;
    }
    #gallery-43 .cs-item:hover .cs-hover-box {
        opacity: 1;
    }
    #gallery-43 .cs-item:hover .cs-icon {
        /* return to original position */
        transform: rotateY(0);
    }
    #gallery-43 .cs-item:hover .cs-h3 {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-43 .cs-item:hover .cs-hover-box-text {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-43 .cs-picture {
        margin: auto;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
		background: #00000010;
    }
    #gallery-43 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #gallery-43 .cs-hover-box {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 1em;
        background-color: #DC9E2F;
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Prevents padding from contributing to height & width */
        box-sizing: border-box;
        /* Sets stage for 3d transform animation */
        perspective: 700px;
        top: 0;
        left: 0;
        z-index: 10;
        /* prevents mouse from being able to interact with these elements */
        pointer-events: none;
        transition: opacity 0.3s;
        font-weight: 400;
    }
    #gallery-43 .cs-icon {
        /* 50px - 60px */
        width: clamp(3.125rem, 5vw, 3.75rem);
        height: clamp(3.125rem, 5vw, 3.75rem);
        /* 16px - 32px */
        margin-bottom: clamp(1rem, 5vw, 2rem);
        border-radius: 50%;
        background-color: #fff;
        outline: 0.5rem solid rgba(255, 255, 255, 0.7);
        /* Start with the icon box rotated 90deg */
        transform: rotateY(90deg);
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: none;
        transition: transform 0.5s;
    }
    #gallery-43 .cs-icon img {
        width: 1.25rem;
        height: 1.25rem;
    }
    #gallery-43 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 auto;
        max-width: 16.875rem;
        color: #fff;
        /* make starting position down 10px and invisible */
        opacity: 0;
        transform: translateY(0.625rem);
        margin-bottom: 0.5rem;
        transition:
            opacity 0.3s,
            transform 0.3s ease-out;
        transition-delay: 0.1s;
    }
    #gallery-43 .cs-hover-box-text {
        /* 13px - 16px */
        font-size: clamp(1.05rem, 1vw, 1rem);
        line-height: 1.5em;
        margin: 0 auto;
        max-width: 16.875rem;
        color: #fff;
        /* make starting position down 10px and invisible */
        opacity: 0;
        transform: translateY(0.625rem);
        transition:
            opacity 0.3s,
            transform 0.3s ease-out;
        transition-delay: 0.2s;
    }
}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
    #gallery-43 .cs-image-group {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    }
    #gallery-43 .cs-item {
        grid-column: span 6;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-43 .cs-item {
        grid-column: span 4;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #gallery-43 .cs-title,
    body.dark-mode #gallery-43 .cs-text {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #gallery-43 .cs-text {
        opacity: 0.8;
    }
}

:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(2rem, .5vw, 6.25rem) 1rem;
}

body {
    margin: auto;
    padding: 0;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}
              