/*
Welcome to my attempt at a stylesheet! Let's see what I can do with this boy.
*/


html {
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

body {
  margin: 0px;
  font-family: neue-haas-unica, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 275%;
  color: #111111;
  text-align: center;
  font-weight: 700;
  line-height: 1.15em;
  padding: 0px 10px 0px 10px;
}

h2 {
  font-size: 150%;
  color: #111111;
  padding: 0px 10px 0px 10px;
}

p {
  width: 50%;
  color: #454545;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px 0px 10px;
}

header {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.menu {
  background-color: #f1f1f1;
  color: #111111;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  display: block;
}

.menu a {
  float: left;
  display: block;
  text-align: center;
  padding: 15px;
}

.menu a:hover {
  background-color: #e1e1e1 ;
  color: #454545;
}

.menu img {
  float: right;
  height: 35px;  
  padding: 15px;
}

.menu img:hover {
  transition: .2s ease-in;
  opacity: .5;
}

.blue:hover {
  transition: .2s ease-in-out;
  text-shadow: 0px 0px 3px #8fcff9;
}

.orange:hover {
  transition: .2s ease-in-out;
  text-shadow: 0px 0px 3px #ff7d01;
}

.green:hover {
  transition: .2s ease-in-out;
  text-shadow: 0px 0px 3px #2dc22d;
}

.purple:hover {
  transition: .2s ease-in-out;
  text-shadow: 0px 0px 3px #ad11dd;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 350px;
  display: flex;
  align-content: center;
  padding: 30px;
}

.profile img {
  width: 100%;
  margin: auto;
  border-radius: 1%;
  box-shadow: #35353566 2px 2px 5px 1px;
}

.logo {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  max-width: 300px;
}

.logo img {
  width: 100%;
  height: auto;
  transition: .3s ease-out;
}

.logo:hover img {
  transition: .2s ease-in;
  opacity: .5;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000000b3;
  width: 100px;
  height: 65px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 0px;
  top: 15px;
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: #000000e6;
}

#return-to-top:hover i {
  color: #fff;
  top: 2px;
  font-size: 26px;
}

section {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

section:nth-of-type(even) {
  flex-direction: row-reverse;
}

.section-media {
  width: 50%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section-media>img {
  width: 300px;
}

.section-text {
  width: 50%;
  height: 100vh;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.section-text-wrapper {
  max-width: 85%;
}

.section-text-wrapper h1 {
  font-size: 35px;
  line-height: 2.75rem;
  margin: 0;
  padding-bottom: 25px;
}

.section-text-wrapper p {
  font-size: 16px;
  line-height: 1.5em;
  margin: auto;
}

hr {
  width: 45%;
  color: #35353566;
  margin: 0 auto 0 auto;
}

.footer {
  text-align: center;
  padding-bottom: 80px;
}

@media screen and (max-width: 600px) {
  .carousel {
    position: relative;
    width: 50%;
    padding-bottom: 37.5%;
    overflow: hidden;
    margin: 0 auto;
  }

  .carousel:hover .slide:after,
  .carousel:hover .slide:before {
    opacity: 1;
  }

  .carousel2 {
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    overflow: hidden;
    margin: 0 auto;
  }

  .carousel2:hover .slide:after,
  .carousel2:hover .slide:before {
    opacity: 1;
  }

  .carousel3 {
    position: relative;
    width: 50%;
    padding-bottom: 33.25%;
    overflow: hidden;
    margin: 0 auto;
  }

  .carousel3:hover .slide:after,
  .carousel3:hover .slide:before {
    opacity: 1;
  }

  .carousel4 {
    position: relative;
    width: 50%;
    padding-bottom: 33.25%;
    overflow: hidden;
    margin: 0 auto;
  }

  .carousel4:hover .slide:after,
  .carousel4:hover .slide:before {
    opacity: 1;
  }

  .slide {
    float: right;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #eee;
    text-align: left;
    transition: opacity 0.4s;
    opacity: 1;
  }

  .slide:before {
    content: attr(annot);
    display: block;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 70%;
    color: rgb(255, 255, 255);
    font-size: 14px;
    z-index: 12;
    opacity: 0;
    transition: opacity 0.3s;
    text-shadow: 1px 1px 1px #000;
  }

  .slide:after {
    content: attr(slide);
    display: block;
    position: absolute;
    bottom: 0;
    transition: opacity 0.3s;
    width: 100%;
    height: 100px;
    opacity: 0;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  }

  .faux-picshow {
    top: 0;
    right: 0;
    float: right;
    position: absolute;
    margin-top: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .faux-picshow:checked {
    z-index: 8;
  }

  .faux-picshow:checked+.slide {
    opacity: 0;
  }

  .faux-picshow:checked:nth-child(1):checked {
    z-index: 9;
  }

  .faux-picshow:nth-child(1):checked {
    float: left;
    z-index: 9;
  }

  .faux-picshow:nth-child(1):checked+.slide {
    opacity: 1;
  }

  .faux-picshow:nth-child(1):checked~.faux-picshow {
    float: left;
    z-index: 8;
  }

  .faux-picshow:nth-child(1):checked~.faux-picshow+.slide {
    opacity: 0;
  }

  .faux-picshow:nth-child(1):checked~.faux-picshow:checked {
    z-index: 9;
  }

  .faux-picshow:nth-child(1):checked~.faux-picshow:checked+.slide {
    opacity: 1;
  }



  @media only screen and (min-width: 900px) {
    .logo {
      width: 45%;
      max-width: 700px;
    }

    header {
      /*PARRRRRRRAAAAALLLLLLLLLAAAAAXXXXXXXX*/

      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media only screen and (max-width: 900px) and (min-width: 500px) {
    .logo {
      width: 60%;
    }

    .heading {
      font-size: 4em;
    }

    p {
      width: 65%;
    }

    .carousel {
      width: 75%;
      padding-bottom: 56.25%;
    }
  }

  @media only screen and (max-width: 500px) {
    header {
      background-image: url("https://stephenkender.com/splashbg_mobile.png");
      width: 100%;
    }

    .logo {
      width: 85%;
    }

    .heading {
      font-size: 4em;
      padding-left: 0px;
    }

    h1 {
      font-size: 225%;
      padding: 0px 10px 0px 10px;
    }

    p {
      width: 90%;
    }

    .profile {
      width: 58%;
      padding-right: 10px;
    }

    .menutext {
      font-size: 18px;
    }

    .carousel {
      width: 90%;
      padding-bottom: 67.5%;
    }

    .carousel2 {
      width: 90%;
      padding-bottom: 90%;
    }

    .carousel3 {
      width: 90%;
      padding-bottom: 59.85%;
    }

    .carousel4 {
      width: 90%;
      padding-bottom: 59.85%;
    }
  }

  a:link {
    text-decoration: none;
    transition: all .2s ease-in;
    color: #22c5ff;
  }

  a:link:visited {
    transition: all .2s ease-in;
    color: #de9cff;
  }

  a:link:hover {
    color: #f44336;
    transition: .2s ease-in-out;
  }

  .social {
    padding: 0px 10px 0px 10px;
  }

  .halves {
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    font-family: neue-haas-unica, sans-serif;
    font-style: italic;
    color: #cccccc;
    width: 49%;
    margin: auto;
    padding-bottom: 10px;
  }

  .caption {
    display: inline-block;
    font-family: neue-haas-unica, sans-serif;
    font-style: italic;
    color: #cccccc;
    width: 90%;
    padding-bottom: 10px;
  }

  .footer {
    font-style: italic;
    color: #040404;
    padding: 16px 10px 16px 10px;
    margin: auto;
  }
}