/*
Welcome to my attempt at a stylesheet! Let's see what I can do with this boy.
*/
@font-face {
  font-family: 'Avenir';
  src: url('https://stephenkender.com/fonts/AvenirNextLTPro-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('https://stephenkender.com/fonts/AvenirNextLTPro-Bold.otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://stephenkender.com/fonts/Poppins-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://stephenkender.com/fonts/Poppins-ExtraBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

body {
  margin: 0px;
  font-family: 'Avenir', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #111;
}

a:link:visited {
  color: #111;
}

a:link:hover {
  color: #111;
}

a:hover {
  color: #111;
}

.stronglink {
  font-weight: 600;
}

h1 {
  font-size: 250%;
  color: #111111;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.15em;
  padding: 0px 10px 0px 10px;
}

h2 {
  font-size: 2.4vw;
  color: #111111;
  padding: 4vh 10px 0px 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
	line-height: 120%;
}

p {
  width: 50%;
  color: #454545;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px 0px 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 25px;
}

.about-column {
  width: 30%;
  height: 100vh;
	position: fixed;
	left: 0;
  display: flex;
	margin: auto;
}

.about-column-content {
  width: 72%;
	margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
	flex-flow: column;
}

.profile {
  min-height: 70vh;
  display: flex;
  align-content: center;
  width: 80%;
  margin: 0;
  justify-content: center;
}

.profile-pic {
  width: 75%;
	height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#logo-img {
  width: 100%;
  max-width: 500px;
  margin: 25px auto 10px auto;
}

.intro-section-wrapper {
  width: 75%;
  height: 69%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 45px #19cfff solid;
  border-radius: 69px;
}

.intro-section-text {
    max-width: 100%;
	margin: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
	flex-flow: column;
	text-align: center;
}

.intro-section-text p{
  font-size: 25px;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
}

.intro-section-text h1 {
  font-size: 6vw !important;
  line-height: 120% !important;
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
  color: #444;
  letter-spacing: 3px;
}

.colorchange-text {
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

.menu-text {
	display: inline-block;
	text-decoration: underline wavy 3px;
	transitions: all .3s ease;
}

#menu-1 {
	color: #ff6540;
	transition: all 0.3s ease;
}

#menu-2 {
	color: #275fff;
	transition: all 0.3s ease;
}

#menu-3 {
	color: #ffeb0d;
	transition: all 0.3s ease;
}

.black-inactive {
	color: #111 !important;	
	text-transform: none !important;
    transition: all 0.3s ease;
}

@keyframes changeColor {
  0% {
    color: #111111;
  }

  20% {
    color: #ff7d01;
  }

  40% {
    color: #ad11dd;
  }

  60% {
    color: #2dc22d;
  }

  80% {
    color: #8fcff9;
  }

  100% {
    color: #111111;
  }
}

.profile-pic img {
  width: 100%;
  max-width: 650px;
  border-radius: 80% 20% 50% 50% / 50% 38% 62% 50%;
  box-shadow: #35353566 2px 2px 5px 1px;
  animation-name: blob;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes blob {
  0% {
    border-radius: 80% 20% 50% 50% / 50% 38% 62% 50%;
  }

  20% {
    border-radius: 42% 53% 45% 50% / 61% 46% 52% 19%
  }

  40% {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%
  }

  60% {
    border-radius: 27% 53% 37% 35% / 24% 28% 60% 67%;
  }

  80% {
    border-radius: 63% 32% 30% 50% / 81% 46% 52% 19%;
  }

  100% {
    border-radius: 30% 70% 20% 50% / 40% 38% 62% 50%;
  }
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000000b3;
  width: 100px;
  height: 65px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  z-index: 999;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 0px;
  top: 15px;
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: #000000e6;
}

#return-to-top:hover i {
  color: #fff;
  top: 2px;
  font-size: 26px;
}

section {
  width: 70%;
  margin: 0 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section:nth-of-type(even) {
  flex-direction: row-reverse;
}

.section-media {
  width: 50%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
	flex-flow: column
}

.section-media>img {
  width: 300px;
}

.section-text {
  width: 50%;
  height: 100vh;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.section-text-wrapper {
    max-width: 85%;
}

.section-text-wrapper h1 {
    font-size: 50px;
    line-height: 3.75rem;
    margin: 0;
    padding-bottom: 25px;
    text-align: left;
    letter-spacing: 2px;
    max-width: none;
}

.section-text-wrapper p {
  font-size: 25px;
  line-height: 1.5em;
  margin: auto;
  width: 100%;
}

hr {
  width: 45%;
  color: #35353566;
  margin: 0 auto 0 42.5%;
}

.footer {
	width: 70%;
  margin: 0 0 0 30%;
  text-align: center;
  padding-bottom: 80px;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.single-item p {
  padding-bottom: 40px;
  font-size: 14px;
}

.slick-next:before,
.slick-prev:before {
  color: #444 !important;
  font-size: 25px !important;
}

.slick-track {
  height: 500px;
}

.slick-slide img {
  height: auto;
  max-width: 100%;
  max-height: 500px;
  margin: auto;
}

.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  max-height: 500px;
}



@media screen and (max-width: 1300px) {
  .about-column {
    width: 100%;
    height: auto;
    padding: 60px 0 150px 0;
    position: static;
    display: flex;
    margin: auto;
    border-right: none;
  }
  
  .about-column-content {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  #logo-img {
    width: 69%;
    margin: 25px auto 35px auto;
  }

  #about {
    padding-top: 0px;
    height: 650px;
  }

  h1 {
    font-size: 225%;
    padding: 0px 10px 0px 10px;
  }

  h2 {
    font-size: 10vw;
  }

  p {
    width: 90%;
    font-size: 17px;
  }

  #menu-1 {
    color: #ff6540 !important;	
  }
  
  #menu-2 {
    color: #275fff !important;	
  }
  
  #menu-3 {
    color: #ffeb0d !important;	
  }

  .profile-pic {
	width: 80%;
	height: auto;
  }

  .profile-pic img {
    max-height: 200px;
    width: auto;
    height: auto;
  }
	
.intro-section-wrapper {
  width: 100%;
  height: auto;
  border: none;
  border-radius: none;
}

.intro-section-text {
    max-width: 80%;
	margin: auto;
}

.intro-section-text p{
margin: auto 0;
}

.intro-section-text h1 {
  font-size: 10vw !important;
}

  .colorchange-text h1 {
    max-width: 100%;
    font-size: 75px  !important;
    line-height: 80px !important;
  }

  header {
    min-height: 70vh;
    padding: 4vh;
  }

  section {
    width: 100%;
    margin: 100px auto;
    display: block;
    height: auto;
    padding-bottom: 0px;
  }

  .section-media {
    width: 100%;
    min-height: 25vh;
    height: auto;
  }

  .section-media>img {
    max-width: 75%;
    max-height: 250px;
    width: auto;
    height: auto;
    padding: 30px;
  }

  .section-text {
    width: 100%;
    height: auto;
    text-align: center;
    min-height: 45vh;
  }

  .section-text-wrapper h1 {
    font-size: 7vw;
    line-height: 120%;
    text-align: center;
    padding-bottom: 30px;
    width: auto;
  }

  .section-text-wrapper p {
    font-size: 17px;
    line-height: 1.5em;
    text-align: center;
    width: auto;
  }

  hr {
    width: 60%;
    color: #35353566;
    margin: 0 auto 0 auto;
  }

  .footer {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 50px;
    height: 690px;
  }

  #3d {
    padding-bottom: 35px;
  }

  .slick-track {
    height: 300px;
  }

  .slick-slide img {
    max-height: 300px;
  }

  .slick-initialized .slick-slide {
    max-height: 300px;
  }


}
