* {
    margin: 0px;
    padding: 1px;
    box-sizing: content-box;
}

html {
    background: #222;
    -webkit-font-smoothing: antialiased;
    text-align: left;
}

body {
    height: 100vh;
    color: #33ff33;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    font-family: 'Courier New', monospace;
    text-shadow: 1px .5px 4px #3f3;
}

.container {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.text,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8,
.text9 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1px;
    width: auto;
}

.text_hide,
.text_hide2,
.text_hide3,
.text_hide4,
.text_hide5,
.text_hide6,
.text_hide7,
.text_hide8 ,
.text_hide9 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    width: auto;
}

.text_cursor,
.text_cursor2,
.text_cursor3,
.text_cursor4,
.text_cursor5,
.text_cursor6,
.text_cursor7,
.text_cursor8,
.text_cursor9 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border-left: 3px solid #33ff33;
    width: auto;
    opacity: 0;
}

.secret_password_box {
    padding: 10px;
    display: block;
    width: auto;
}

.password {
    display: block;
    opacity: 0;
    transition: all .7s ease;
}

input[type=text] {
    margin: 0.2rem 0;
    background-color: #3f3;
    border: none;
    border-radius: 1px;
    color: #222;
    font-family: Courier New;
    font-weight: 900;
    caret-color: #222;
    caret-shape: block;
    font-size: 24px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.cursor {
    position: relative;
    opacity: 0;
    transition: all .7s ease;
}

.blinky {
    position: absolute;
    width: 16px;
    height: 75%;
    background-color: #222;
    left: 0px;
    top: 12.5%;
    animation-name: blink;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

.cursor input:focus+i {
    display: none;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#submitButton {
    border: none;
    background-color: #3f3;
    color: #222;
    cursor: pointer;
    padding: 2px 5px;
    box-shadow: 2px 2px 2px #33ff33;
}
#message {
    color: red;
    text-shadow: .5px .5px 3px red;
    opacity: 1;
transition: opacity 0.5s ease-in-out;
    font-weight: bold;
    font-size: 22px;
}


/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
 .m-scene {
    .scene_element {
      animation-duration: 0.25s;
      transition-timing-function: ease-in;
      animation-fill-mode: both;
  
    }
  
    .scene_element--fadein {
      animation-name: fadeIn;
    }
  
    /** Reverse "exit" animations */
    &.is-exiting {
        .scene_element {
          animation-direction: alternate-reverse;
        }
    }
  }

/*
 * Keyframes
 */

 @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  















