@font-face {
  font-family: 'Poppins';
  src: url('https://stephenkender.com/fonts/Poppins-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://stephenkender.com/fonts/Poppins-ExtraBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: #fafafa !important;
  color: inherit;
}

.thumb-img {
  border-color: #fafafa !important;
}

#loupeContainer div.background {
  background-color: #fafafa !important;
  color: inherit;
}

header div.background {
  background-color: #fafafa !important;
  color: inherit;
}

.custom-colorable {
  fill: #A0A0A0 !important;
}

body {
  background-color: #fafafa !important;
  color: #4B4B4B !important;
}
