html {
  background-color: #fafafa !important;
  color: inherit;
}

.thumb-img {
  border-color: #fafafa !important;
}

#loupeContainer div.background {
  background-color: #fafafa !important;
  color: inherit;
}

header div.background {
  background-color: #fafafa !important;
  color: inherit;
}

.custom-colorable {
  fill: #A0A0A0 !important;
}

body {
  background-color: #fafafa !important;
  color: #4B4B4B !important;
}
